<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipments</title>
</head>
<body>
    <h1>Equipments</h1>
    <h2>All Equipments</h2>
    <ul>
    {% for item in equipment_list %}
        <li>
            {{item.name}}/{{item.category.name}}
        </li>
    {% endfor %}
    </ul>

    <h2>Shop Equipments</h2>
    <ul>
    {% for item in equipment_list_own %}
        <li>
            {{item.name}}/{{item.category.name}}
        </li>
    {% endfor %}
    </ul>

    Если вам понравился товар звоните по номеру +7911
</body>
</html>